.page[b-p85b577jyy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p85b577jyy] {
    flex: 1;
}

.sidebar[b-p85b577jyy] {
    background-image: linear-gradient(180deg, #b0509e 0%, #42c3d4 70%);
}

.top-row[b-p85b577jyy] {
    background-color: #b0509e;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-p85b577jyy]  a, .top-row .btn-link[b-p85b577jyy] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-p85b577jyy] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p85b577jyy] {
        display: none;
    }

    .top-row.auth[b-p85b577jyy] {
        justify-content: space-between;
    }

    .top-row a[b-p85b577jyy], .top-row .btn-link[b-p85b577jyy] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p85b577jyy] {
        flex-direction: row;
    }

    .sidebar[b-p85b577jyy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p85b577jyy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-p85b577jyy], article[b-p85b577jyy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/*
    logo color codes
    logoOne: gradient from #b0509e to #42c3d4
    logoTwo: 
        cloudBody: #beddfc
        outline: #090e3f
        sunbody: #090e3f
        rainbody: 5893d4
*/